@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f4ef;
  --foreground: #171717;

  --black: #414141;
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-10: rgba(0, 0, 0, 0.1);
  --gray: #818181;
  --gray-light: #dddddd;
  --gray-lighter: #eeeeee;

  --bg-primary: #f6f4ef;

  --brand: #99c08e;

  --green: #e1edde;
  --green-text: #578246;

  --error: #c41013;
  --red: #f50e0e;
  --error-bg: #ffa3a5;

  --yellow: #fff1cc;
  --yellow-text: #c18e1b;

  --blue: #e0f1f5;
  --blue-text: #418099;

  --pink: #fde0e9;
  --pink-text: #bc3c6a;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard-variable);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: var(--font-pretendard-variable);
  }
}

@layer components {
  .heading-2 {
    @apply font-extrabold text-2xl text-black;
  }
  .heading-3 {
    @apply font-bold text-lg text-black;
  }
  .lead {
    @apply font-normal text-base text-black;
  }
  .caption-sm {
    @apply font-normal text-sm text-gray;
  }
  .caption-base {
    @apply font-medium text-xl text-gray;
  }
  .base-container {
    @apply bg-white rounded p-10;
  }
  .outlined {
    @apply border border-gray-light rounded-[15px] text-base font-normal text-black placeholder:text-gray px-5 py-3;
  }

  .habit-grid {
    display: grid;
    grid-template-columns: minmax(122px, 1fr) repeat(7, 1fr);
  }

  @media (min-width: 744px) {
    .habit-grid {
      grid-template-columns: minmax(152px, 1fr) repeat(7, 1fr);
    }
  }

  @media (min-width: 1200px) {
    .habit-grid {
      grid-template-columns: minmax(246px, 1fr) repeat(7, 1fr);
    }
  }
}
