@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* color name from figma */
  /* Base colors */
  --background: #ffffff;
  --foreground: #171717;

  /* Black & Gray colors */
  --black: #414141;
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-10: rgba(0, 0, 0, 0.1);
  --gray: #818181;
  --gray-light: #dddddd;
  --gray-lighter: #eeeeee;

  /* Background colors */
  --bg-primary: #f6f4ef;

  /* Brand colors */
  --brand: #99c08e;

  /* Green colors */
  --green: #e1edde;
  --green-text: #578246;

  /* Red colors */
  --error: #c41013;
  --red: #f50e0e;
  --error-bg: #ffa3a5;

  /* Yellow colors */
  --yellow: #fff1cc;
  --yellow-text: #c18e1b;

  /* Blue colors */
  --blue: #e0f1f5;
  --blue-text: #418099;

  /* Pink colors */
  --pink: #fde0e9;
  --pink-text: #bc3c6a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard-variable);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: var(--font-pretendard-variable);
  }
}
