@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6F4EF;
  --foreground: #171717;

  --black: #414141;
  --gray: #818181;
  --gray-light: #DDDDDD;
  --gray-lighter: #EEEEEE;

  --brand: #99C08E;

  --green: #E1EDDE;
  --green-text: #578246;

  --error: #C41013;
  --red: #F50E0E;
  --error-bg: #FFA3A5;

  --yellow: #FFF1CC;
  --yellow-text: #C18E1B;

  --blue: #E0F1F5;
  --blue-text: #418099;

  --pink: #FDE0E9;
  --pink-text: #BC3C6A;
}

/* 다크모드 적용하게 되면 사용
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard-variable);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: var(--font-pretendard-variable);
  }
}
